
    h1.sara 
                {
                    color:red;
                    font-size: 100px;
                    padding :10px
            
                }
            #sara2
                {       
                    color: blue;
                    margin-left: 10px;

                }    
            body{
                background-color: aqua;  }
        
    